* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #cfcfcf;
}

.fullwrap {
	width: 800px;
	margin: 0px auto;
}

.header {
	margin-top: 40px;
	margin-bottom: -5px; 
}

.imgHeader {
	max-width: 800px;
	height: auto;
}

.main {
	background: #ffffff;
	padding: 55px 60px 10px;
}

.text {
	font-size: 20px;
	line-height: 1.3;
	font-family: Arial, sans-serif;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: left;
}

.center {
	text-align: center;
}

.imgBig1 {
	float: left;
}
.imgBig2 {
	float: right
}

.imgBig img {
	max-width: 316px;
	max-height: 266px;
}

.imgBig p {
	max-width: 316px;
}

.imgSmall {
	float: left;
	margin-right: 40px;
}

.imgSmallL {
	float: left;
}
.imgSmall img {
	max-width: 200px;
	max-height: 260px;
}

.imgSmallL img {
	max-width: 200px;
	max-height: 260px;
}

.imgSmall p {
	max-width: 200px;
}

.imgSmallL p {
	max-width: 200px;
}

.clear{
	clear: both;
}

button {
	background: #cf5b4e;
	border: none;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

button a {
	color: #ffffff;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

.footer {
	font-family: Arial, sans-serif;
	padding-top: 30px;
	padding-bottom: 25px;
	color: #ffffff;
}

.textFooter {
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.footer a {
	font-size: 14px;
	color: #ffffff;
}
